footer {
    padding: 0px 50px;
    margin-block-start: 1em;
    margin-block-end: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: #91d4e0;
    z-index: 99;
}

footer a {
    color: #91d4e0;
    text-decoration: underline;
}

footer a:hover {
    color: #ea4c89;
}

footer .social-icons {
    z-index: 99;
}

footer img {
    height: 35px;
    margin-left: 5px;
}

@media only screen and (max-width: 545px) {  
    footer {
      padding: 0px;
    }
  }