.item__info .response {
    padding: 0px;
}

.response {
    color: #91d4e0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.response p, .response h2 {
    color: #91d4e0;
}

.response h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #91d4e0;
    margin-top: 25px;
}

.response ul, .response ol {
    padding: 0;
    padding-left: 25px;
    display: block;
}

.response li:hover {
    color: #91d4e0;
}

.response ul li, .response ol li {
    font-weight: 400;
}
