.item__info .response {
    padding: 0px;
}

.response {
    padding: 25px;
    margin: 25px 0px 0px 0px;
    max-width: 800px;
    border-radius: 25px;
    background-color: #0f1322;
}

.response P, .response h2 {
    color: #91d4e0;
}

.response h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #91d4e0;
    margin-top: 25px;
}

.response ul, .response ol {
    padding: 0;
    padding-left: 25px;
    display: block;
}

.response li:hover {
    color: #91d4e0;
}

.response ul li, .response ol li {
    font-weight: 400;
}