table {
    margin: 25px 0px 25px 0px;
    text-align: left;
}

thead th {
    font-weight: 600;
}

th {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    color: #0f1322;

    padding: 5px 10px 5px 10px;
    margin: 0;
}

th:first-child {
    padding: 5px 10px 5px 0px;
}

th button {
    margin-top: 0;
    margin-right: 25px;
}

.edit {
    background-color: orange;
}

.delete {
    background-color: red;
}

.request {
    margin-top: 10px;
}

tbody tr:hover {
    background-color: #91d4e0;
}

input[type=checkbox] {
    width: 25px;
    margin-right: 25px;
    cursor: pointer;
}