table {
    margin: 25px 0px 25px 0px;
    text-align: left;
}

thead th {
    font-weight: 600;
}

thead tr th span {
    justify-content: start;
    gap: 5px;
    cursor: pointer;
}

th {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    color: #0f1322;

    padding: 5px 10px 5px 10px;
    margin: 0;
}

th:first-child {
    padding: 5px 10px 5px 0px;
}

th button {
    margin-top: 0;
    margin-right: 25px;
}

th img {
    height: 20px;
}

.edit {
    background-color: orange;
}

.delete {
    background-color: red;
}

.request {
    margin-top: 10px;
}

.red {
    color: red;
}

tbody tr:hover {
    background-color: #91d4e0;
}

input[type=checkbox] {
    width: 25px;
    margin-right: 25px;
    cursor: pointer;
}

#map {
    width: 600px;
    height: 600px;
}

.marker {
    background-color: black;
    height: 100px;
    width: 100px;
    position: relative;
}