.content {
    display: flex;
}

table {
    margin: 25px 0px 0px 0px;
    text-align: left;
    min-width: 100%;
}

thead th {
    font-weight: 600;
}

thead tr th span {
    justify-content: start;
    gap: 5px;
    cursor: pointer;
}

th {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;

    color: #0f1322;

    padding: 5px 10px 5px 10px;
    margin: 0;
}

th:first-child {
    padding: 5px 10px 5px 0px;
}

th:last-child {
    display: flex;
}

th button {
    margin-top: 0;
    margin-right: 25px;
}

th img {
    height: 20px;
}

.edit {
    background-color: orange;
}

.delete {
    background-color: red;
}

.request {
    margin-top: 10px;
}

.red {
    color: red;
}

tbody tr:hover {
    background-color: #91d4e0;
}

input[type=checkbox] {
    width: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.pagination {
    margin: 25px 0px 25px 0px;
}

.page-link {
    display: inline;
    margin-right: 25px;
    text-decoration: underline;
}

.page-link-highlight {
    color: #ea4c89;
    display: inline;
    margin-right: 25px;
    text-decoration: underline;
}

.page-link:hover {
    cursor: pointer;
    color: #ea4c89;
}

.mapbox {
    width: 50%;
    height: 600px;

    margin-top: 50px;
}

.marker {
    cursor: pointer;
}
.marker img {
    width: 40px;
}

@media only screen and (max-width: 1785px) {
    .content {
        display: block;
    }

    .mapbox {
        width: 100%;
        height: 800px;
        max-width: 3000px;
    }
}

@media only screen and (max-width: 1050px) {
    .mapbox {
        height: 600px;
    }
}

@media only screen and (max-width: 1050px) {
    .mapbox {
        height: 400px;
    }
}