ul {
    padding-inline-start: 50px;
    margin-block-start: 1em;
    margin-block-end: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul a {
    z-index: 99;
}

li {
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #91d4e0;
}

li:hover {
  color: #ea4c89;
  cursor: pointer;
}

.nav__cta {
    padding-inline-start: 50px;
    padding-inline-end: 50px;

    display: flex;
    justify-content: space-between;
    gap: 50px;

    border-radius: 25px 25px 0 0;
    background-color: #86c7d3;
}

.nav__cta a .current-page-desktop {
    color: #ea4c89;
}

.nav__cta a li {
    color: #0f1322;
}

.nav__cta li:hover {
    color: #ea4c89;
}

.current-page {
    color: white;
    background-color: #ea4c89;
}

span {
    justify-content: flex-start;
    gap: 25px;
}

span img {
    height: 25px;
}

.searchbar {
    padding: 10px 0px;
}

.nav__mobile, .nav__mobile__items, .nav__mobile__items__active {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .nav__cta {
        display: none;
    }
  
    .nav__mobile {
          display: flex;
    }

    .nav__mobile {
        z-index: 99;
        padding-inline-start: 50px;
        padding-inline-end: 50px;

        display: flex;
        justify-content: space-between;
        gap: 50px;

        border-radius: 25px 25px 0 0;
        background-color: #86c7d3;
    }

    .nav__mobile li {
        color: #0f1322;
    }

    .is-active li {
        color: #ea4c89;
      }

    .nav__mobile__items {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        background-color: #0f1322;
        padding-top: 160px;
        z-index: 98;
        transition: 0.5s;
    }

    .nav__mobile__items__active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        display: block;
        background-color: #0f1322;
        padding-top: 160px;
        z-index: 98;
        transition: 0.5s;
    }

    nav nav {
        text-align: center;
    }

    nav nav li {
        margin: 0 auto 16px;
        padding: 12px 16px;
        color: #0f1322;
        width: fit-content;
        background-color: #86c7d3;
        border-radius: 25px;
    }

    nav nav li:hover {
        color: white;
        background-color: #ea4c89;
    }
  }