.th-small {
    width: 25px;
    text-align: center;
}

.tr-align-center {
    display: flex;
    align-items: center;
}

.response {
    padding: 25px;
    margin: 25px 0px 0px 0px;
    border-radius: 25px;
    background-color: #0f1322;
}

.response P, .response h2 {
    color: #91d4e0;
}

.response ul, .response ol {
    padding: 0;
    padding-left: 25px;
    display: block;
}

.response li:hover {
    color: #91d4e0;
}

.response ul li, .response ol li {
    font-weight: 400;
}