@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Raleway:ital,wght@0,400;0,700;1,600&display=swap');

/* Elements */
html {
  max-width: 100vw;
  padding: 0px 50px 20px 50px;
  background-color: #0f1322;
}

header {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  
  padding: 50px;
  border-radius: 25px 0px 25px 25px;
  background: linear-gradient(0.25turn, #b3eaf7,#86c7d3, #86c7d3);
}

section {
  max-height: 100%;
  max-width: 100%;
  display: block;
  align-items: center;
  
  padding: 50px;
  border-radius: 25px 0px 25px 25px;
  background: linear-gradient(0.25turn, #b3eaf7,#86c7d3, #86c7d3);

}

span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  margin-top: 25px;
  padding: 10px 25px 10px 25px;

  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;

  background-color: #ea4c89;
  color: white;

  border-radius: 25px;
  border: 0;

  cursor: pointer;
}

button:hover {
  background-color: #0f1322
}

/* Text styling */
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: #0f1322;
  margin: 25px 0 25px 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  color: #0f1322;
  margin: 0;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #91d4e0;
  margin-top: 25px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #91d4e0;
  margin-top: 25px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #0f1322;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #0f1322;
  display: block;
  margin-top: 25px;
}

input {
  margin-top: 5px;
  width: 250px;
  height: 25px;

  border: 3px solid #0f1322;
  border-radius: 5px;
}

/* Loading loading-spinner */
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

/* Information styling */
.item {
  margin-top: 25px;
}

.item__info {
  margin-top: 25px;
  padding: 25px;
  margin: 25px 0px 0px 0px;
  max-width: 800px;
  border-radius: 25px;
  background-color: #0f1322;
}

.item__info table {
  margin-top: 0;
  margin-bottom: 0;
}

.item__info th{
  color: #86c7d3;
}

.item__info th:last-child {
  font-weight: 300;
}

.item__options {
  margin-top: 25px;
}

.item__options button {
  margin-right: 25px;
}