@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Raleway:ital,wght@0,400;0,700;1,600&display=swap');

/* Elements */
html {
  max-width: 100vw;
  padding: 30px 50px 30px 50px;
  background-color: #0f1322;
}

header {
  min-height: calc(100vh - 300px);
  max-width: 100%;
  display: flex;
  align-items: center;
  
  padding: 50px;
  border-radius: 25px 0px 25px 25px;
  background: linear-gradient(0.25turn, #b3eaf7,#86c7d3, #86c7d3);
}

section {
  min-height: calc(100vh - 300px);
  max-width: 100%;
  display: block;
  align-items: center;
  
  padding: 50px;
  border-radius: 25px 0px 25px 25px;
  background: linear-gradient(0.25turn, #b3eaf7,#86c7d3, #86c7d3);
}

span {
  display: flex;
  align-items: center;
}

button {
  margin-top: 25px;
  margin-right: 25px;
  padding: 10px 25px 10px 25px;

  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;

  background-color: #ea4c89;
  color: white;

  border-radius: 25px;
  border: 0;

  cursor: pointer;
}

button:hover {
  background-color: #0f1322
}

.buttons {
  display: flex;
}

.buttons button:last-child {
  margin-right: 0px;
}

.sub-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  color: #0f1322;
  display: block;
  margin-top: 25px;
}

.sub-link:hover {
  color: #ea4c89;
  text-decoration: underline;
}

.profile-picture-normal {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.profile-picture-mini {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.flex {
  display: flex;
  gap: 50px;
}

.first {
  width: calc(50% - 25px);
}

.second {
  width: calc(50% - 25px);
}

/* Text styling */
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 5rem;
  color: #0f1322;
  margin: 25px 0 25px 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  color: #0f1322;
  margin: 0;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #91d4e0;
  margin-top: 25px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #91d4e0;
  margin-top: 25px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #0f1322;
  margin: 0;
}

.bold {
  font-weight: 600;
}

a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #91d4e0;
  margin: 0;
  text-decoration: none;
}

a:hover {
  color:#ea4c89;
}

label {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #0f1322;
  display: block;
  margin-top: 25px;
}

input {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  
  width: 250px;
  height: 25px;
  padding-left: 5px;

  border: 3px solid #0f1322;
  border-radius: 5px;
}

.invalid-field {
  border-color: red;
  color: red;
  background-color: white;
}

/* Loading loading-spinner */
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

/* Information styling */
.item {
  margin-top: 25px;
}

.item__info {
  margin-top: 25px;
  padding: 25px;
  margin: 25px 0px 0px 0px;
  border-radius: 25px;
  background-color: #0f1322;
}

.item__info table {
  margin-top: 0;
  margin-bottom: 0;
}

.item__info th{
  color: #86c7d3;
}

.item__info th:last-child {
  font-weight: 300;
}

.item__info__image {
  width: 100%;
  margin-top: 25px;
  border-radius: 25px;
}

.item__options {
  margin-top: 25px;
}

.item__options button {
  margin-right: 25px;
}

@media only screen and (max-width: 2010px) {
  .large-hide {
    display: none;
  }
}

@media only screen and (max-width: 1785px) {
  .large-hide {
    display: flex;
  }

  .flex {
    display: flex;
    gap: 50px;
  }
  
  .first {
    width: 60%;
  }
  
  .second {
    width: 40%;
  }
}

@media only screen and (max-width: 1250px) {
  .flex {
    display: block;
    gap: 50px;
  }
  
  .first {
    width: 100%;
  }
  
  .second {
    display: none;
  }
}

@media only screen and (max-width: 1135px) {
  .large-hide {
    display: none;
  }

  h1 {
    font-size: 3.5rem
  }
}

@media only screen and (max-width: 940px) {
  .medium-hide {
    display: none;
  }

  h1 {
    font-size: 3rem
  }

  header {
    display: block
  }
}

@media only screen and (max-width: 735px) {
  .medium-small-hide {
    display: none;
  }

  header {
    min-height: calc(100vh - 295px);
  }
}

@media only screen and (max-width: 620px) {
  .small-hide {
    display: none;
  }

  .profile-picture-normal {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 2.5rem
  }

  h2 {
    font-size: 2.25rem;
  }

  section {
    padding: 25px;
  }
}

@media only screen and (max-width: 545px) {
  .mobile-hide {
    display: none;
  }

  html {
    padding: 10px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 20px;
    min-height: calc(100vh - 220px);
  }

  section {
    height: 100%;
    min-height: calc(100vh - 260px);
  }

  input {
    width: calc(100% - 6px);
  }

  h1 {
    font-size: 2rem
  }

  h2 {
    font-size: 1.75rem;
  }

  th {
    padding: 5px 10px 5px 0px;
  }

  th button {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 470px) {
  .small-mobile-hide {
    display: none;
  }

  .mini-mobile-hide {
    display: none;
  }

  .profile-picture-mini {
    height: 35px;
    width: 35px;
  }
}
